
@model IEnumerable<WebApplication1.Models.PersonModelEdit>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead">
    <section id="personCapture">
        @using (Html.BeginForm("Save", "School", FormMethod.Post))
            {
            <div>
                Name    <input type="text" name="Name" value="" /><br>
                Surname <input type="text" name="Surname" value="" /><br>
                DOB <input type="date" name="DOB"><br />
                Person Type
                <input type="radio" name="PersonType" value="1"> Student
                <input type="radio" name="PersonType" value="2" checked> Teacher
                <input type="radio" name="PersonType" value="3"> Parent
                <br>ID Type
                <select name="IDType">
                    <option value="1">ID</option>
                    <option value="2">Birth certificate</option>
                    <option value="3">Passport</option>
                </select>
                <br>ID number <input type="text" name="ID" value="" /><br><br>
                Gender <input type="radio" name="gender" value="1" checked> Male
                <input type="radio" name="gender" value="2"> Female<br>
                <input type="submit" value="Save new member" class="btn-primary">

            </div>
        }
    </section>
    <div>@Html.ActionLink("Create Group", "ViewCreateGroup", "School", null, null)</div>
    <table>
        @foreach (var element in Model.AsEnumerable())
        {
            <tr>
                <td>Person number @element.PersonNo</td>
                <td>@Html.ActionLink(@element.Name + " " + @element.Surname, "ViewUpdate", "School", new { element.PersonNo, element.Name, element.Surname }, null)</td>
                <td>
                    @Html.ActionLink("Remove", "Delete", "School", new { element.PersonNo }, null)
                </td>
            </tr>
        }
    </table>
</header>
