@model WebApplication1.Models.WorkEdit

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="masthead">
    <section id="personCapture">
        @using (Html.BeginForm("ViewEditWork", "School", FormMethod.Post))
            {
            <div>
                <input type="hidden" name="PersonNo" value=@Model.WorkNo />
                Work Name    <input type="text" name="Name" value="@Model.WorkDesc" /><br>
                <div>
                    Work Type
                    @*@Html.DropDownListFor(model => model.WorkTypeNo, new SelectList(Model.WorkTypes, "WorkTypeNo", "WorkTypeDesc", "-- Select Work Type --"))*@
                </div>
                Start Date @Html.TextBoxFor(model => model.StartDate,
                    new { @type = "date", @Value = Model.StartDate.ToString("yyyy-MM-dd") })<br>
                End Date @Html.TextBoxFor(model => model.EndDate,
                    new { @type = "date", @Value = Model.EndDate.ToString("yyyy-MM-dd") })
                <div class="form-group">

                    <input type="submit" value="Save changes" class="btn-primary"><br /><br />
                </div>
            </div>
        }
    </section>
    @*<table>
        @if (ViewBag.ListOfWorkByGroup.Count > 0)
        {
            <tr>
                <td>Work name</td>
                <td>
                    Start Date
                </td>
                <td>
                    End Date
                </td>

            </tr>        }
        @foreach (var element in (List<WebApplication1.Models.WorkEdit>)ViewBag.ListOfWorkByGroup)
        {

            <tr>
                <td>@Html.ActionLink(element.WorkDesc, "ViewEditWork", "School", new { id = element.WorkNo }, null)</td>
                <td>
                    @element.StartDate
                </td>
                <td>
                    @element.EndDate
                </td>
                <td>
                    @Html.ActionLink("Remove", "DeleteGroupWork", "School", new { id = element.WorkNo, GroupNo = Model.GroupNo }, null)
                </td>
            </tr>
        }
    </table>*@


    <table>
        @if (ViewBag.ListOfWorkMembers.Count > 0)
        {
            <tr>
                <td>Member name</td>
                <td>Mark</td>
            </tr>        }
        @foreach (var element in (List<WebApplication1.Models.WorkPersonModelEdit>)ViewBag.ListOfWorkMembers)
        {

            <tr>
                <td>@Html.ActionLink(element.Name + " " + element.Surname, "ViewPersonDetail", "School", new { PersonNo = element.PersonNo }, null)</td>
                <td><input type="text" name="PersonMark" value=@element.PersonMark><td>
                    @Html.ActionLink("Delete member", "DeleteGroupMember", "School", new { PersonNo = element.PersonNo, GroupNo = @Model.GroupNo }, null)
                </td>
            </tr>
        }
    </table>

